html{
  overflow-x: hidden;
}
.titlediv{
  width: 100vw;
  height: 200vh;
  background-color: aqua;
}

.lottiewrapper{
  position: sticky;
  width: 100vw;
  height: 56.25vw;
  top: 0;
}

.titlelottie{
  position: absolute;
}