@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

html {
  overflow-x: hidden;
  font-family: "Bubblegum Sans", cursive;
}

* {
  font-family: "Bubblegum Sans", cursive;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6.5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(255, 224, 201);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(135, 84, 59);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(143, 81, 54);
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.content {
  display: none;
}

.loadlottiewrap {
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.titlediv {
  width: 100vw;
  height: 200vh;
  transform: translate3d(0, 800px, 0);
  animation: arrive 900ms ease-in-out 0.6s forwards;
}

.lottiewrapper {
  position: sticky;
  width: 100vw;
  height: 56.25vw;
  top: 0;
  margin: 0;
}

.f2div {
  width: 100vw;
  height: 200vh;
  position: relative;
}

.fullscreencaption {
  height: 140vh;
  width: 100vw;
  position: relative;
}

.textwrap {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

.f2text1 {
  color: rgb(143, 81, 54);
  font-size: 2vw;
  text-align: center;
  padding: 2vw;
}

.f3div {
  width: 100vw;
  height: 200vh;
  position: relative;
}

.f4div {
  width: 100vw;
  height: 160vh;
  position: relative;
}

.f5div {
  width: 100vw;
  height: 160vh;
  position: relative;
}

.f6div {
  width: 100vw;
  height: 200vh;
  position: relative;
}

.f7div {
  width: 100vw;
  height: 160vh;
  position: relative;
}

.user {
  width: 90%;
  max-width: 640px;
  margin: 10vh auto;
}
.user__header {
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 1.9s forwards;
}
.user__title {
  font-size: 24px;
  margin-bottom: -10px;
  margin-top: 10px;
  font-weight: 500;
  color: rgb(143, 81, 54);
}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 800px, 0);
  animation: arrive 900ms ease-in-out 1.9s forwards;
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  color: rgb(134, 84, 59);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(204, 134, 99);
  opacity: 1; /* Firefox */
}

.form__input:focus {
  background: rgb(240, 226, 214);
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 1vw;
  appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: rgb(143, 81, 54);
  transition: 1s;
}

.btn:active {
  background: rgb(96, 55, 37);
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
